h1{ font family: sans-serif;
text-transform: uppercase;}

Body 
{ background-color:#00FF00;  
}

p{ color: red;
  font-family: serif;
 }

.links{ text-decoration: underline;
}

h2{ font family: sans-serif;}